---
layout: default
tags: publications
---

{% assign posts_count = site.posts | size %}

<h1>publications</h1>

<div class="home">
  {% if posts_count > 0 %}
  <div class="posts">
    {% for post in paginator.posts %}
    <div class="post py3">
      <p class="post-meta">
        <span>{{ post.date | date: site.date_format }}</span>
        {% if post.tags contains "popular" %}
        <span class="post-meta-popular-tag">Popular</span>
        {% endif %}
      </p>
      <a href="{% if post.redirect %}{{ post.redirect }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}" class="post-link"
        ><h3 class="h2 post-title">{{ post.title }}</h3></a
      >
      <p class="post-summary">
        {% if post.summary %} {{ post.summary }} {% else %} {{ post.excerpt }}
        {% endif %}
      </p>
      <p class="post-publisher">
        {% if post.publisher %} {{ post.publisher }}
        {% endif %}
      </p>
    </div>
    {% endfor %}
  </div>
  
  {% include pagination.html %}
  {% if site.show_contact %}
    {% include contact.html %}
  {% endif %}
  {% else %}
    <h1 class="center">{{ site.text.index.coming_soon }}</h1>
  {% endif %}

</div>

<style>
  .post {
    padding-top: 0.2em;
    padding-bottom: 0.2em; /* reduce vertical space between the posts */
    margin-bottom: 1em; /* reduce the space below each post */
  }

  .post-meta {
    margin-bottom: 0.1em; /* reduce space between the meta info and title */
  }

  .post-summary {
    margin-bottom: 0.1em; /* reduce space between the summary and publisher */
  }
  
  .post-publisher {
    margin-bottom: 0.1em; /* reduce space between publisher and next element */
  }

  h1 {
    font-size: 1.8em; /* Reduce the size of the main title */
  }

  .post-title {
    font-size: 1.1em; /* Reduce the title size of each post */
  }

  .post-meta, .post-summary, .post-publisher {
    font-size: 0.9em; /* Reduce text size for metadata, summary, and publisher */
  }


</style>
